<div class="notifications">
  <h3>Notifications</h3>
  <p>
    <%= "You have #{@online_notifications.size} un-read " \
            "#{"notification".pluralize(@online_notifications.size)}." %>
  </p>

  <ul class="list-unstyled js-notifications-list">
    <%= render partial: "notification", collection: @online_notifications %>
  </ul>

  <!-- <table>
      <thead>
        <tr>
          <td>
            Time
          </td>
          <td>
            Outage
          </td>
          <td colspan="2">
            Event
          </td>
          <td>
            You are seeing this because
          </td>
          <td>
            Acknowledged
            <%#= label_tag :acknowledged_all, "Edited By Me" %>
            <br/>
            <%= check_box_tag :acknowledge_all, 1, false %>
          </td>
        </tr>
      </thead>
      <tbody>
        <% @online_notifications.each do |n| %>
          <%# puts "_active.html.erb #{__LINE__}: Hi There! n class: #{n.class}" %>
          <%# puts "---------------------------------------------------------" %>
          <%# puts n.inspect %>
          <%# puts "---------------------------------------------------------" %>
          <%# puts n.event.inspect Error: source does not appear to be markup.
          <%# puts "---------------------------------------------------------" %>
          <%# puts n.event.outage.inspect %>
          <%# puts "---------------------------------------------------------" %>
        <tr>
          <td>
            <%= n.event.created_at.strftime("%Y %b %e %H:%M:%S.%L %Z") %>
          </td>
          <td>
            <%= link_to n.event.outage.name, outage_url(n.event.outage_id) %>
          </td>
          <td>
            <%= n.event.event_type %>
          </td>
          <td>
            <%= n.event_info %>
          </td>
          <td>
            <%= n.reason %>
          </td>
          <td>
            <%#= check_box_tag :acknowledged, 1, true %>
            <%= form_with model: n,
                  builder: WeitFormBuilder,
                  class: "js-submit-on-change" do |f| %>
              <% f.check_box :notified, label: "Acknowledge" %>
            <% end %>
          </td>
        <tr>
        <% end %>
      </tbody>
    </table> -->
</div>
