<% if @online_notifications && @online_notifications.size > 0  %>
<%# puts "_active.html.erb #{__LINE__}: Hi There! @notification class: #{@notifications.class}" %>
  <div class="notifications">
    <h2>Notifications</h2>
    <p>
      <%= "You have #{@online_notifications.size} un-read " \
            "#{"notification".pluralize(@online_notifications.size)}." %>
    </p>
    <% @online_notifications.each do |n| %>
      <div class="row notification-spacer">
        <div class="col-sm-4">
            <%= form_with model: n,
                  builder: WeitFormBuilder,
                  class: "js-submit-on-change" do |f| %>
              <% f.check_box :notified, label: "Read" %>
            <% end %>
          </div>
          <div class="col-sm-8">
            <div class="notification-item">
              <%= link_to n.event.outage.name, outage_url(n.event.outage_id) %>
            </div>
            <div class="notification-interval">
              <%= distance_of_time_in_words(n.event.created_at,
                    Time.zone.now,
                    options = {include_seconds: true }) %> ago
            </div>
          </div>
      </div>
    <% end %>

    <!-- <table>
      <thead>
        <tr>
          <td>
            Time
          </td>
          <td>
            Outage
          </td>
          <td colspan="2">
            Event
          </td>
          <td>
            You are seeing this because
          </td>
          <td>
            Acknowledged
            <%#= label_tag :acknowledged_all, "Edited By Me" %>
            <br/>
            <%= check_box_tag :acknowledge_all, 1, false %>
          </td>
        </tr>
      </thead>
      <tbody>
        <% @online_notifications.each do |n| %>
          <%# puts "_active.html.erb #{__LINE__}: Hi There! n class: #{n.class}" %>
          <%# puts "---------------------------------------------------------" %>
          <%# puts n.inspect %>
          <%# puts "---------------------------------------------------------" %>
          <%# puts n.event.inspect Error: source does not appear to be markup.
          <%# puts "---------------------------------------------------------" %>
          <%# puts n.event.outage.inspect %>
          <%# puts "---------------------------------------------------------" %>
        <tr>
          <td>
            <%= n.event.created_at.strftime("%Y %b %e %H:%M:%S.%L %Z") %>
          </td>
          <td>
            <%= link_to n.event.outage.name, outage_url(n.event.outage_id) %>
          </td>
          <td>
            <%= n.event.event_type %>
          </td>
          <td>
            <%= n.event_info %>
          </td>
          <td>
            <%= n.reason %>
          </td>
          <td>
            <%#= check_box_tag :acknowledged, 1, true %>
            <%= form_with model: n,
                  builder: WeitFormBuilder,
                  class: "js-submit-on-change" do |f| %>
              <% f.check_box :notified, label: "Acknowledge" %>
            <% end %>
          </td>
        <tr>
        <% end %>
      </tbody>
    </table> -->
  </div>
<% end %>
