<h1>Search Results</h1>
<p>
  For the fragment <strong><%= @frag %></strong>:
</p>
<p class="content-note">
  The following are not real searches, but an example of the kinds of results
</p>
<p>
  The following results were found:
</p>
<p>
  <%= @frag %> matches a <strong>note</strong> within the outage
  <%= link_to  @outages[1]["short_description"], outage_path(1) %>
</p>
<p>
  <%= @frag %> matches the long description of the <strong>Configuration Item</strong>
      <%= link_to @outages[0]["cis"][1]["ci"]["name"], ci_path(@outages[0]["cis"][1]["id"]) %>
  </strong> that is included in the <strong>Outage</strong>
  <%= link_to @outages[0]["short_description"], outage_path(0) %>
</p>
