<h3>Filters</h3>
<%= bootstrap_form_with url: "#",
    local: true,
    method: :get,
    html: { class: "js-submit-on-change" }  do |f| %>
<%= f.form_group do %>
  <%= f.text_field "frag",
                   id: :frag,
                   label: "Fragment",
                   value: search_string %>
  <%= f.date_field "earliest",
                   id: :earliest,
                   label: "Outages After",
                   value: session[:earliest] || default_earliest.to_s(:browser) %>
  <% if action_name == "index" %>
    <%= f.date_field "latest",
                     id: :latest,
                     label: "Outages Before",
                     value: outages_before %>
  <% end %>
  <%= f.form_group :watching do %>
    <%= f.radio_button :watching,
                       of_interest,
                       checked: of_interest?,
                       id: :watching_Of_interest_to_me,
                       label: "Of interest to me" %>
    <%= f.radio_button :watching,
                       "All",
                       checked: !of_interest?,
                       id: :watching_All,
                       label: "All" %>
  <% end %>
  <%= f.form_group :completed do %>
    <%= f.check_box :completed,
                    checked: get_completed_too?,
                    id: :completed,
                    label: "Show Completed Outages" %>
  <% end %>
<% end %>

<div class="content-note">
  Still not sure that this would be "logically" clear to users (because it is a bit of an "AND/OR". Wondering if this should simply be 'all' or 'watched/edited by me' radio button)
</div>

<div class="content-note">
  <p>
    If an earliest time is provided, show outages that don't end before the earliest time. If the earliest time is blank, outage end time is a don't care.
  </p>
  <p>
    If a latest time is provided, show outages that don't start after the end_time. If the latest time is blank, the outage start time is a don't care.
  </p>
  <p>
    If both times are provided, show the intersection of the above, or actually, do both of the above tests in the same query.
  </p>
  <p>
    Or to put it another way, show all outages that overlap the filter's start and end times.
  </p>
</div>

<% end %>
