<div class="content-note">
  <p>Calendar of outages, or spreadsheet-like view of outages.</p>
  <p>
    By default you're seeing the list of outages that affect the CIs you're watching, that happen in the next two weeks.
  </p>
</div>

<div class="content-note">
  Filters Allow the user to limit the outages displayed on the grid or in the calendar. Outages displayed must match EACH of the 3 criteria below.
  <br/>
  The page will be refreshed when any of the following are changed
</div>

<div role="tabpanel" class="outages">
  <div class="border rounded mb-3">
    <div>
      <ul class="nav nav-pills">
        <%# FIXME: how to set the active pill for each page? %>
        <li class="nav-item">
          <%= link_to "Grid", outages_path(view: "index"), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Day", day_outages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "4-Day", fourday_outages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Week", week_outages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Month", month_outages_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
    <div>
      <%= yield :outages_view %>
    </div>
  </div>

  <div class="outages-grid">
    <%= render partial: "grid" %>
  </div>
</div>
<p>
  <% if current_user.can_edit_outages? %>
  <%= link_to "Add Outage", new_outage_path, class: "btn btn-secondary" %>
  <% end %>
</p>

<div class="content-note">
  <hr>
  <h4>Notes, Issues, Questions, Futures</h4>
  <ul>
    <li>
      <strong>
        Problem: Entering a blank date causes this page to fail
      </strong>
    </li>

    <li>
      There are at least 3 options for long lists:
      <ul>
        <li>An intermediate page with the whole list (overlay)</li>
        <li>Max height plus scroll bar</li>
        <li>Jump to Outages page, where whole list is displayed.</li>
      </ul>
    </li>
    <li>
      What option might there be for the calendar? Presumably the calendar may be scrolled back and forth through time - but what options will there for the period of time displayed? Will these be user preferences or will we default to showing weeks and
      the weeks displayed cover the period of time set by the filter above?
    </li>
    <li>
      Likely should add a filter for Completed
    </li>
    <li>Filters: Show me what's changed (TBC)</li>
    <li>Maybe more filters?</li>
    <li>
      Should remember the filters for each user so when they come back to the page, whether it is this session or a new session, the filter will be the same
    </li>
    <li>
      Need to design a graceful way to handle the situations where the user sets filters to return too much data (paging?), or the calendar range is set so long as to return a ridiculous number of weeks (max before today, max after today as limits?)
    </li>
    <li>
      Outages that have an active, on-line notification will be highlighted somehow (bold or backgroun colour?).
    </li>
    <li>
      Future: Preference to automatically mark as read and notifications that too old.
    </li>
  </ul>
</div>
