<!-- <ul>
  <li>Button to delete. Delete must be un-doable. Delete doesn't actually remove the record from the database.</li>
  <li>Select configuration item(s) via the two boxes model that you move
      items between attached and unattached.</li>
  <li>Button to add configuration item (and add all)</li>
  <li>Button to remove configuration item (and delete all)</li>
  <li>Button to create a new configuration item</li>
  <li>Scrollable box with notes in reverse chronological order</li>
  <li>Add/Edit notes attached to outage (connects on a blog post-type model TBC)</li>
  <li>Button to create a group based on the CIs selected for this outage.</li>
</ul>

<h2>Attributes</h2>
<ul>
  <li>Short Description</li>
  <li>Long Description</li>
  <li>Start Date/Time</li>
  <li>End Date/Time</li>
  <li>Causes outage or not</li>
</ul> -->

<%= object_error_messages(outage) %>
<%= bootstrap_form_with(model: outage, builder: WeitFormBuilder, local: true, label_errors: true) do |f| %>
  <%= f.hidden_field :active %>
  <div class="row">
    <%= f.text_field :name, column_width: 4 %>
    <%= f.datetime_local_field :start_time, column_width: 4 %>
    <%= f.datetime_local_field :end_time, column_width: 4 %>
  </div>
  <div class="row">
    <%= f.check_box :completed, column_width: 4 %>
    <%# This is needed while the checkbox is disabled, since disabled sends nothing for the parameter, breaking validations. %>
    <%= f.hidden_field :causes_loss_of_service, value: "0" %>
    <%= f.check_box :causes_loss_of_service, disabled: "disabled", column_width: 4 %>
    <%#= f.check_box :watched, column_width: 4 %>
    <div class="col-sm-4">
      <%= render partial: "watch_form", locals: { f: f } %>
    </div>
  </div>
  <div class="row">
    <%= f.text_area :description, column_width: 12 %>
  </div>

  <div class="row">
    <div class="col-sm-7">
    </div>
    <div class="card col-sm-5">
      <div class="card-block">
        <%= label_tag :available_service_filter do %>
          Filter Available Services
        <% end %>
        <%= text_field_tag :available_service_filter,
              nil,
              class: "js-filter",
              data: { target: "#js-available" } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-sm-5">
      <div class="card-block">
        <h3 class="card-title">Affected Services</h3>
        <ul id="js-assigned" class="list-unstyled js-connected js-selectable card-text">
          <%= f.fields_for :cis_outages do |ci| %>
          <%= render partial: "assigned_ci", object: ci.object, locals: { f: ci } %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <%= button_tag "<", class: "btn js-assign" %>
      <%= button_tag ">", class: "btn js-remove" %>
    </div>
    <div class="card col-sm-5">
      <div class="card-block">
        <h3 class="card-title">Available Services</h3>
        <ul id="js-available" class="list-unstyled js-connected js-selectable card-text">
          <%= f.fields_for :available_cis do |ci| %>
          <%= render partial: "available_ci", object: ci.object, locals: { f: ci } %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= f.primary "Save" %>
<% end %>
