<ul>
  <li>Button to delete. Delete must be un-doable. Delete doesn't actually remove the record from the database.</li>
  <li>Select configuration item(s) via the two boxes model that you move
      items between attached and unattached.</li>
  <li>Button to add configuration item (and add all)</li>
  <li>Button to remove configuration item (and delete all)</li>
  <li>Button to create a new configuration item</li>
  <li>Scrollable box with notes in reverse chronological order</li>
  <li>Add/Edit notes attached to outage (connects on a blog post-type model TBC)</li>
  <li>Button to create a group based on the CIs selected for this outage.</li>
</ul>

<h2>Attributes</h2>
<ul>
  <li>Short Description</li>
  <li>Long Description</li>
  <li>Start Date/Time</li>
  <li>End Date/Time</li>
  <li>Causes outage or not</li>
</ul>

<%= form_for(outage, builder: WeitFormBuilder) do |f| %>
  <%= f.hidden_field :active %>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.check_box :completed %>
  <%= f.check_box :causes_loss_of_service %>
  <%= f.datetime_local_field :start_time %>
  <%= f.datetime_local_field :end_time %>
  <%= f.check_box :watched %>
  <div class="">
    <h3>Affected Services</h3>
    <ul id="js-assigned" class="list-unstyled js-connected js-selectable">
      <%= f.fields_for :cis_outages do |ci| %>
        <li class="ui-widget-content">
          <%#= ci.class %>
          <%#= ci.object.class %>
          <%= ci.object.name %>
          <%= ci.hidden_field :id %>
          <%= ci.hidden_field :ci_id %>
          <%= ci.hidden_field :outage_id %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= button_tag "<", class: "btn js-assign" %>
  <%= button_tag ">", class: "btn js-remove" %>
  <div class="">
    <h3>Available Services</h3>
    <ul id="js-available" class="list-unstyled js-connected js-selectable">
      <% @available_cis.each do |ci| %>
        <%= fields_for ci do |ci_f| %>
          <li class="ui-widget-content">
            <%= ci.name %>
            <%= ci_f.hidden_field :id %> <!-- make this ci_id -->
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= f.submit "Save" %>
<% end %>
