<h1>
  List of Outages of Interest to the User
  <br/>
  <small>
    User's home Page
  </small>
</h1>
<div class="content-note">
<p>Calendar of outages, or spreadsheet-like view of outages.</p>
<p>
  By default you're seeing the list of outages that affect the CIs you're watching,
  that happen in the next two weeks.
</p>
</div>

<h2>Filters</h2>
<div class="content-note">
    Filters Allow the user to limit the outages displayed on the grid or in the calendar.  Outages
    displayed must match EACH of the 3 criteria below.
    <br/>
    The page will be refreshed when any of the following are changed
</div>

<%= form_tag "#" do %>
  <p>
    <%= label_tag "frag", "Fragment" %>
    <%= text_field_tag "frag" %>
    <div class="content-note">
        Outages meet this criteria if the Outage Short Description, Outage Long
        Description, Outage Status contains this fragment, if any of the Notes
        associated with an Outage contain the fragment or if any of the
        associated CIs Name, Description, Tags contains this fragment.
    </div>
  </p>
  <p>
    <%= radio_button_tag :watching, "Watched", true %>
    <%= label_tag :watching, "Watched", value: "Watched" %>
    <%= radio_button_tag :watching, "All" %>
    <%= label_tag :watching, "All", value: "All" %>
  </p>
  <p>
    Add outages not watched by me but:
    <%= check_box_tag :created_by_me, 1, true %>
    <%= label_tag :created_by_me, "Created By Me" %>
    <%= check_box_tag :edited_by_me, 1, true %>
    <%= label_tag :edited_by_me, "Edited By Me" %>
  </p>
  <div class="content-note">
    Still not sure that this would be "logically" clear to users (because it is
    a bit of an "AND/OR".  Wondering if this should simply be 'all' or 'watched/edited by me' radio button)
  </div>

  <p>
    <%= label_tag "earliest", "Outages After" %>
    <%= datetime_field_tag "earliest", Time.zone.now.beginning_of_day.strftime("%Y-%m-%dT%H:%M") %>
    <%= label_tag "latest", "Outages Before" %>
    <%= datetime_field_tag "latest", (Time.zone.now.beginning_of_day + 2.weeks).strftime("%Y-%m-%dT%H:%M") %>
  </p>
  <div class="content-note">
    <p>
      If an earliest time is provided, show outages that don't end before the earliest time.
      If the earliest time is blank, outage end time is a don't care.
    </p>
    <p>
      If a latest time is provided, show outages that don't start after the end_time.
      If the latest time is blank, the outage start time is a don't care.
    </p>
    <p>
      If both times are provided, show the intersection of the above, or actually,
      do both of the above tests in the same query.
    </p>
    <p>
      Or to put it another way, show all outages that overlap the filter's start
      and end times.
    </p>
  </div>

<% end %>

<%= render partial: "notifications/active"  %>
<%# # , locals: { active_notifications: current_user.active_notifications } %>

<h2>Outages</h2>
<div class="quicktab">
  <button class="tablinks" onclick="openCity(event, 'Calendar')">Calender View</button>
  <button class="tablinks active" onclick="openCity(event, 'Grid')">Grid View</button>
</div>
<div id="Calendar" class="tabcontent">
  <div class="content-note">
    <p>
      This will be a calendar view of the data in the grid. It likely would NOT
      include the status, completed or list of CI's.
    </p>
    <p>
      The outage short name will appear on the calendar (stretched between start
      and end dates?) and will be a link that will take you to the show page.
    </p>
    <p>
      This will likely be the default
      view, but possible ways of deciding the default view include:
      <ul>
        <li>Always is the calendar view </li>
        <li>Always is the last view the user used</li>
        <li>Is a user preference (Note, above may be one of the preferences)</li>
      </ul>
    </p>
  </div>
</div>

<div id="Grid" class="tabcontent" style="display: block;">
  <table>
    <thead>
      <tr>
        <td>
          CIs
        </td>
        <td>
          Start Time
        </td>
        <td>
          End Time
        </td>
        <td>
          Short Description
        </td>
        <td>
          Completed?
        </td>
        <td>
          Status
        </td>
        <td>
          Notes
        </td>
        <td>
          Watch?
        </td>
      </tr>
    </thead>
    <tbody>
      <% @outage_list.each_with_index do |outage, index| %>
      <%# [1,2].each do |outage| %>

        <tr>
          <td>
            <% if outage["cis"].size < 3 %>
            <% outage["cis"].each do |o| %>
            <p>
              <%= link_to o["ci"]["name"], edit_or_show_ci_path(o["id"]) %>
            </p>
            <% end %>
            <% else %>
            <p>
              <%= link_to outage["cis"][0]["ci"]["name"], edit_or_show_ci_path(outage["cis"][0]["id"]) %>
            </p>
            <p>
              <%= link_to outage["cis"][1]["ci"]["name"], edit_or_show_ci_path(outage["cis"][1]["id"]) %>
            </p>
            <p>
              <%= link_to "More .. ", outage_path(index) %>
            </p>
            <% end %>
          </td>
          <td>
            <%= outage["start_time"].strftime("%a, %d %b %Y %H:%M") %>
          </td>
          <td>
            <%= outage["end_time"].strftime("%a, %d %b %Y %H:%M") %>
          </td>
          <td>
            <% if current_user.can_edit_outages? %>
            <%= link_to outage["short_description"], edit_outage_path(index) %>
            <% else %>
            <%= link_to outage["short_description"], outage_path(index) %>
            <% end %>
          </td>
          <td>
            <%= outage["completed"] %>
          </td>
          <td>
            <%= outage["status"] %>
          </td>
          <td>
            <% if outage["notes"].size > 0 %>
              <%= link_to "Yes", outage_path(index) %>
            <% else %>
              no
            <% end %>
          </td>
          <td>
            <p>
              <input type="checkbox" name="watch" value="Yes" checked>
              <!-- All watches have same properties, which come from user preferences -->
            </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p>
  <% if current_user.can_edit_outages? %>
    <%= link_to "<button>Add Outage</button>".html_safe, new_outage_path %>
  <% end %>
</p>
<hr>
<h4>Notes, Issues, Questions, Futures</h4>
<ul>
  <li>
    There are at least 3 options for long lists:
      <ul>
          <li>An intermediate page with the whole list (overlay)</li>
          <li>Max height plus scroll bar</li>
          <li>Jump to Outages page, where whole list is displayed.</li>
        </ul>
  </li>
  <li>
    What option might there be for the calendar?  Presumably the calendar may be
    scrolled back and forth through time - but what options will there for
    the period of time displayed? Will these be user preferences or will we
    default to showing weeks and the weeks displayed cover the period of time
    set by the filter above?
  </li>
  <li>
    Likely should add a filter for Completed
  </li>
  <li>Filters: Show me what's changed (TBC)</li>
  <li>Maybe more filters?</li>
  <li>
    Should remember the filters for each user so when they come back
    to the page, whether it is this session or a new session, the filter
    will be the same
  </li>
  <li>
    Need to design a graceful way to handle the situations where the user
    sets filters to return too much data (paging?), or the calendar range
    is set so long as to return a ridiculous number of weeks (max before today,
    max after today as limits?)
  </li>
  <li>
    Outages that have an active, on-line notification will be highlighted
    somehow (bold or backgroun colour?).
  </li>
  <li>
    Future: Preference to automatically acknowledge and notifications
    that too old.
  </li>
</ul>
