<h1> <%= @outage.name %> </h1>
<br/>
<table>
  <tbody>
    <tr>
      <td colspan="2">
        <%= @outage.description %>
      </td>
    </tr>
    <tr>
      <td>
          Start Time
      </td>
      <td>
        <%= @outage.start_time.strftime("%a, %d %b %Y %H:%M") %>
      </td>
    </tr>
    <tr>
      <td>
          End Time
      </td>
      <td>
        <%= @outage.end_time.strftime("%a, %d %b %Y %H:%M") %>
      </td>
    </tr>
    <tr>
      <td>
          Completed?
      </td>
      <td>
        <%= @outage.completed %>
      </td>
    </tr>
    <tr>
      <td>
          CIs
      </td>
      <td>
        <% if @outage.cis.size == 0 %>
          none
        <% else %>
          <% @outage.cis.each do |ci| %>
            <p>
              <%= link_to ci.name, ci_path(ci.id) %>
            </p>
          <% end %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
          Notes
      </td>
      <td>
        <% if @outage.notes.size == 0 %>
          none
        <% else %>
          <% @outage.notes.each do |n| %>
            <p>
              <small>
                <%= n.created_at %>
                <br />
                by
                <%= n.user.name %>
              </small>
              <br/>
              <%= n.note %>
            </p>
          <% end %>
        <% end %>
      </td>
    </tr>
  <tbody>
</table>
<div class="content-note">
  Notes should be presented in a scrollable box in reverse order of date
</div>
