<%#
  This is not a traditional Rails show page. It is a form that allows the
  user to modify aspects of the data.
%>
<div class="mb-3">
  <h1>
    <%# TODO: Make into in-line with edit button right-justified. %>
    <%= @outage.name %>
    <% if current_user.can_edit_outages? %>
    <small>
      <%= link_to "Edit Outage Information",
            edit_outage_path(@outage),
            class: "btn btn-sm btn-secondary" %>
    </small>
    <% end %>
  </h1>
  <%= bootstrap_form_for(@outage,
    builder: WeitFormBuilder,
    html: { class: "js-submit-on-change" }) do |f| %>
  <%= f.hidden_field :active %>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-4">
          Start Time:
        </div>
        <div class="col">
          <%= f.object.start_time.to_s(:wall) %>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          End Time:
        </div>
        <div class="col">
          <%= f.object.end_time.to_s(:wall) %>
        </div>
      </div>
    </div>
    <div class="col">
      <ul class="list-unstyled">
        <%# FIXME: These don't seem to work. %>
        <li>
          <%= f.check_box :completed,
                current_user.can_edit_outages? ? {} : { disabled: "disabled" } %>
        </li>
        <li>
          <%= f.check_box :causes_loss_of_service, disabled: "disabled" %>
        </li>
        <li>
          <%# FIXME: ajaxize this. %>
          <%= render partial: "watch_form", locals: { f: f } %>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h4>Description</h4>
      <div class="border rounded">
        <p>
          <%= @outage.description %>
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Affected Services</h4>
      <div class="border rounded">
        <ul class="list-unstyled">
          <% @outage.cis_outages.each do |ci| %>
          <%# The following has to be the id of the CI from the join table. %>
          <li><%= link_to ci.name, ci_path(ci.ci_id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col">
        <%= f.primary "Save" %>
      </div>
    </div> -->
  <% end %>
</div>

<h2>
  Outage History
  <%= link_to "Newest First",
          url_for(sort_order: "desc"),
          class: "btn btn-secondary btn-sm" %>
  <%= link_to "Oldest First",
          url_for(sort_order: "asc"),
          class: "btn btn-secondary btn-sm" %>
</h2>

<% @note = Note.new %>
<%= render partial: "notes/new" %>
<!-- <div class="note">
  <p class="note-header">
    New Note
  </p>
  <% @note = Note.new %>
  <%= fields_for @note do |n| %>
    <%= n.text_area :note, size: "60x6", class: "form-control" %>
    <br/>
    <%= n.button "Save Note", class: "btn btn-primary btn-sm" %>
  <% end %>
</div> -->

<ul class="list-unstyled js-note-list">
  <%= render @outage.histories(notes_sort_order) %>
</ul>
