<%= object_error_messages(ci) %>
<%= bootstrap_form_with(model: ci, builder: WeitFormBuilder, local: true) do |f| %>
  <%= f.hidden_field :active %>
  <div class="row">
    <%= f.text_field :name, column_width: 6 %>
    <%= f.number_field :maximum_unavailable_children_with_service_maintained,
          wrapper: { class: "ft-min-max-service-disruption" },
          column_width: 2 %>
    <%= f.number_field :minimum_children_to_maintain_service,
          wrapper: { class: "ft-min-max-service-disruption" },
          column_width: 2 %>
    <%#= f.check_box :watched,
          column_width: 2 %>
    <div class="col-sm-2">
      <%= render partial: "watch_form", locals: { f: f } %>
    </div>
  </div>
  <div class="row">
    <%= f.text_area :description, column_width: 12 %>
  </div>
  <%= render partial: "parents", locals: { f: f } %>
  <%= render partial: "children", locals: { f: f } %>
  <%= f.primary "Save" %>
<% end %>

<div class="content-note">
  <hr>
  <h4>Notes, Issues, Questions, Futures</h4>
  <ul>
    <li>Note 1. Stack Overflow-style. Most recent first? Or sortable?</li>
    <li>Edit alternate names/alias (TBC)</li>
    <li>
      TODO: How could we show the impact of changes to the DAG?
    </li>
    <li>Add/Delete Tags</li>
    <li>TODO: How to deal with CIs that should be the same but aren't? This could be a separate page explicitly for de-duplication.</li>
    <li>Need to think through where and how we add/remove watches on CIs. Should we automatically add watches to new CIs? Should we manage the addition of watches in the index page or do we make the watch editable on all edit and new ci's?
    </li>
  </ul>
  <hr>
</div>
