<h3>Filters</h3>
<%= bootstrap_form_with url: "#",
    method: :get,
    html: { class: "js-submit-on-change" } do |f| %>
  <%= f.form_group do %>
    <%= f.text_field "text",
                     id: :text,
                     label: "Text",
                     value: cis_search_string %>
  <% end %>
  <%= f.form_group :cis_watching do %>
    <%= f.radio_button :cis_watching,
                       cis_of_interest,
                       checked: cis_of_interest?,
                       id: :cis_watching_Of_interest_to_me,
                       label: "Of interest to me" %>
    <%= f.radio_button :cis_watching,
                       "All",
                       checked: !cis_of_interest?,
                       id: :cis_watching_All,
                       label: "All" %>
  <% end %>
<% end %>
