<h1>Services</h1>
<table>
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        Description
      </td>
      <td>
        Watch?
      </td>
    </tr>
  </thead>
  <tbody>
    <% @cis.each_with_index do |ci, index| %>
      <tr class="test-<%= ci.id %>">
        <td>
          <%= link_to ci.name, edit_or_show_ci_path(ci.id) %>
          <!-- TODO: Where the above goes to may depend on permissions. -->
        </td>
        <td>
            <%= ci.description %>
        </td>
        <td>
          <p>
            <%= render partial: "watches/form",
                  locals: {
                    watch: ci.watched_by_or_new(current_user),
                    row_index: index
                    } %>
            <!-- All watches have same properties, which come from user preferences -->
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<p>
  <% if current_user.can_edit_cis? %>
    <%= link_to "Add Service", new_ci_path, class: "btn btn-primary" %>
  <% end %>
</p>
<hr>
<h4>Notes, Issues, Questions, Futures</h4>
<ul>
  <li>Filters: radio buttons for all CIs vs. only CIs that I'm watching</li>
  <li>Filters: check boxes for created by me, edited by me</li>
  <li>Filters: free-form/wildcard text search on CI name, desription, and tags (TBC)</li>
  <li>Filters: Show me what's changed (TBC)</li>
  <li>Maybe more filters?</li>
  <li>Add/Edit notes</li>
  <li>Add/Edit/Delete tags</li>
</ul>
