<%= render "application/developer" %>

<% if current_user&.application_admin? %>
<div class="container">
  <hr/>
  <small>
    <p>
      Params
      <%= params.inspect %>
    </p>
    <p>
      Current User:
      <%= current_user ? current_user.display_name : "Nil"  %>
    </p>
    <p>
      Time Zone Cookie:
      <%= cookies["tz"].inspect %>
      <% if current_user %>
      Time Zone:
      <span class="js-user-time-zone-rails">
        <%= current_user.time_zone %>
      </span>
      <% end %>
    </p>
  </small>
</div>
<% end %>
<% if current_user %>
<span class="js-user-time-zone-rails hidden">
  <%= current_user.time_zone %>
</span>
<span class="js-user-time-zone-iana hidden">
  <%= Time.find_zone(current_user.time_zone).tzinfo.name if current_user.time_zone.present? %>
</span>
<% end %>
