<!-- The trick seems to be, if you want colour that goes all the way across
    the viewport, just use a div, not a container. Doh! -->
<div class="bg-primary menu-wrap">
  <%# bg-primary needed also on nav for fixed manu to show up. %>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <!-- Don't put this in the container -->
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <%= home_link %>
        <ul class="navbar-nav">
          <% if current_user %>
          <li class="nav-item">
            <%= link_to "Outages", outages_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Services", cis_path, class: "nav-link" %>
          </li>
          <%# TODO: Put this in a drop-down for settings. %>
          <% if current_user.privilege_manage_users? && current_account %>
          <li class="nav-item">
            <%= link_to "Users",
              account_admin_users_path(current_account),
              class: "nav-link" %>
          </li>
          <% end %>
          <% end %>
          <li class="nav-item">
            <%= link_to "Documentation",
            documentation_introduction_path,
            class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
          <li class="nav-item my-auto">
            <!-- TODO: Turn the below into a WEIT Bootstrap Forms helper. -->
            <%= form_with url: searches_path,
              method: :get,
              local: true,
              class: "form-inline my-auto" do |search_form| %>
            <!--  value: params... below keeps the search criteria in the field
              after submitting the search, which is good if the search bar
              is still on the screen after the search. -->
            <%= search_form.text_field :criteria,
              value: params[:criteria],
              class: "form-control mr-sm-2",
                placeholder: "Search" %>
            <!--  Set the name: "" so we don't pass the search button text as a
                parameter. -->
            <%= search_form.submit "Search",
                name: "",
                class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          </li>
          <% end %>
          <% if current_user %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle py-0" id="gear-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= octicon "gear", height: 32, class: "right left mx-auto", "aria-label": "Settings" %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gear-dropdown">
              <% if current_user.privilege_account? %>
              <%= link_to "Account Settings",
                    current_account ? edit_account_path(current_account) : new_account_path,
                    class: "dropdown-item" %>
              <% end %>
              <%= link_to "Preferences",
                    edit_user_path,
                    class: "dropdown-item" %>
              <%# TODO: Put the user name in once Phil has the method ready. %>
              <%= link_to "Sign Out " + current_user.display_name,
                    destroy_user_session_path,
                    method: :delete,
                    class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Sign In",
                new_user_session_path,
                class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up",
              new_user_registration_path,
              class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="mb-2">

</div>
