<!-- The trick seems to be, if you want colour that goes all the way across
    the viewport, just use a div, not a container. Doh! -->
<div class="bg-primary menu-wrap">
  <%# bg-primary needed also on nav for fixed manu to show up. %>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <!-- Don't put this in the container -->
    <button class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
        <% if current_user %>
        <li class="nav-item">
          <%= link_to "Outages", outages_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Services", cis_path, class: "nav-link" %>
        </li>
        <%# TODO: Put this in a drop-down for settings. %>
        <% if current_user.privilege_manage_users? && current_account %>
        <li class="nav-item">
          <%= link_to "Users",
            account_admin_users_path(current_account),
            class: "nav-link" %>
        </li>
        <% end %>
        <% if current_user.privilege_account? %>
        <li class="nav-item">
          <%= link_to "Account",
            current_account ? edit_account_path(current_account) : new_account_path,
            class: "nav-link" %>
        </li>
        <% end %>
        <% end %>
        </ul>
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
          <li class="nav-item">
            <!-- TODO: Turn the below into a WEIT Bootstrap Forms helper. -->
            <%= form_with url: searches_path,
              method: :get,
              local: true,
              class: "form-inline my-2 my-lg-0" do |search_form| %>
            <!--  value: params... below keeps the search criteria in the field
              after submitting the search, which is good if the search bar
              is still on the screen after the search. -->
            <%= search_form.text_field :criteria,
              value: params[:criteria],
              class: "form-control mr-sm-2",
                placeholder: "Search" %>
            <!--  Set the name: "" so we don't pass the search button text as a
                parameter. -->
            <%= search_form.submit "Search",
                name: "",
                class: "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name,
                    edit_user_path,
                    class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Out",
                    destroy_user_session_path,
                    method: :delete,
                    class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Sign In",
                new_user_session_path,
                class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up",
              new_user_registration_path,
              class: "nav-link" %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="mb-2">

</div>
