<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Outages</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light">
      <!-- Make the rest a container. Bigger screens will seen the menu in the container,
          but smaller screens will see the button on the left. -->
      <div class="container">

        <%= link_to "The Outage Site", root_path, class: "navbar-brand" %>
        <!-- The ml-auto and mr-auto classes set the left and right margins
            to auto for justification -->
        <ul class="navbar-nav ml-auto"></ul>
      </div>
    </nav>

    <!-- The trick seems to be, if you want colour that goes all the way across
        the viewport, just use a div, not a container. Doh! -->
    <div class="bg-primary">
      <nav class="navbar navbar-toggleable-md navbar-inverse">
        <!-- Don't put this in the container -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if current_user %>
              <li class="nav-item">
                <%= link_to "Outages", outages_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Services", cis_path, class: "nav-link" %>
              </li>
              <% end %>
            </ul>
            <ul class="navbar-nav">
              <% if current_user %>
              <li class="nav-item">
                <!-- TODO: Turn the below into a WEIT Bootstrap Forms helper. -->
                <%= form_with url: searches_path,
                  method: :get,
                  local: true,
                  class: "form-inline my-2 my-lg-0" do |search_form| %>
                <!--  value: params... below keeps the search criteria in the field
                  after submitting the search, which is good if the search bar
                  is still on the screen after the search. -->
                <%= search_form.text_field :criteria,
                  value: params[:criteria],
                  class: "form-control mr-sm-2",
                    placeholder: "Search" %>
                <!--  Set the name: "" so we don't pass the search button text as a
                    parameter. -->
                <%= search_form.submit "Search",
                    name: "",
                    class: "btn btn-outline-success my-2 my-sm-0" %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to current_user.name,
                        edit_preference_path(current_user),
                        class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out",
                        destroy_user_session_path,
                        method: :delete,
                        class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Sign In",
                    new_user_session_path,
                    class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Up",
                  new_user_registration_path,
                  class: "nav-link" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="row">
        <p class="text-warning js-time-zone-warning"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>

        <%# TODO: Combine this with the above, but have to change the Javascript %>
        <div class="text-warning"></div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <div class="row border rounded">
            <div class="col-md-12">
              <%= render partial: "notifications/active"  %>
              <%# # , locals: { active_notifications: current_user.active_notifications } %>
            </div>
          </div>
          <div class="row border rounded">
            <div class="col-md-12">
              <h4>Selected Outage</h4>
            </div>
          </div>
        </div>
      </div>

      <hr/>
      <p>Footer</p>
      <p>Params</p>
      <%= params.inspect %>
      <p>
        Current User:
        <%= current_user ? current_user.name : "Nil"  %>
      </p>
      <p>
        Time Zone Cookie:
        <%= cookies["tz"].inspect %>
      </p>
      <p>
        <% if current_user %>
        Time Zone:
        <span class="js-user-time-zone-rails">
          <%= current_user.time_zone %>
        </span>
        <span class="js-user-time-zone-iana hidden">
          <%= ActiveSupport::TimeZone[current_user.time_zone].tzinfo.name %>
        </span>
        <% end %>
      </p>
    </div>
  </body>
</html>
