<!DOCTYPE html>
<html>
  <head>
    <%= render "head" %>
  </head>

  <body>
    <%= render "header" %>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <div class="row border rounded">
            <div class="col-md-12">
              <%= render partial: "notifications/active"  %>
              <%# # , locals: { active_notifications: current_user.active_notifications } %>
            </div>
          </div>
          <div class="row border rounded">
            <div class="col-md-12">
              <h4>Selected Outage</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render "footer" %>
  </body>
</html>
